.main-component {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--color-grey-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-component {
    background-color: var(--color-grey-2);
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;

    .photo {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }

    .name-component,
    .address-component,
    .description-component {
        text-align: center;
    }

    .name-component,
    .description-component {
        margin-top: 1.5rem;
    }

    .address-component,
    .social_list-component {
        margin-top: .8rem;
    }

    .social_list-component {
        width: 290px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.8rem;
    }
}